<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>sundarEduAI - Explore open source AI modals to enhance knowledge & save time!</title>
    <meta content="An advanced AI learning models that helps you to get answers all questions of given topics. It's quite fast, easy-to-use & accurate. It'll be next-generation of edtech." name="description">
    <meta content="edtech,educaton,learning,ai,advanced-ai" name="keywords">

    <meta property="og:title" content="sundarEduAI - Explore open source AI modals to enhance knowledge & save time!">
    <meta property="og:description" content="An advanced AI learning models that helps you to get answers all questions of given topics. It's quite fast, easy-to-use & accurate. It'll be next-generation of edtech.">
    <meta property="og:type" content="article">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/favicon.ico" rel="apple-touch-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<style>
    .img-sm {
        height: 3rem;
    }
    
    .display-2 {
        font-size: calc(1.475rem + 2.7vw) !important;
    }
    
    .lead {
        font-size: 1.5rem;
    }
</style>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span>sundarEduAI</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="#hero"> Home</a></li>
                    <li><a class="nav-link scrollto" href="#features">Features</a></li>
                    <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                    <li><a class="getstarted scrollto" href="/search-questions">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center" style="margin-top: 50px;">

        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-12 col-lg-12 text-center">
                    <h1 class="display-2 mb-4">Explore open source AI modals to enhance knowledge & save time.</h1>
                    <p class="lead m-4">An advanced AI learning models that helps you to get answers all questions of given topics. It's quite fast, easy-to-use & accurate. It'll be next-generation of edtech. </p>
                    <div class="text-center mt-4">
                        <a href="/search-questions" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Let's start - It's free</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>

                    <video style="border: 1.5px solid black; max-width: 100%; width: 100%; height: auto; border-radius: 10px; margin-top: 50px;" autoplay="" loop="" muted="" playsinline="" class="w-full" poster="/videos/home/hero/hero-poster-image.png"><source src="/img/hero-video.mp4" type="video/mp4"></video>
                </div>
            </div>
            <div class="text-center" style="margin-top: 60px !important;">
                <header class="section-header">
                    <h1 style="font-size: 35px;">Trusted By</h1>
                </header>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-lx-10">
                        <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/airbnb.svg" alt="airbnb logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/paypal.svg" alt="paypal logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/corsair.svg" alt="corsair logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/google.svg" alt="google logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/elastic.svg" alt="elastic logo">

                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/forbes.svg" alt="forbes logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/pinterest.svg" alt="pinterest logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/docker.svg" alt="docker logo">
                            </li>
                            <li class="mx-3 mb-5">
                                <img class="img-fluid img-sm" src="/img/clients/university-of-chicago.svg" alt="university logo">
                            </li>
                            <li class="mx-3 mb-5 mb-md-0">
                                <img class="img-fluid img-sm" src="/img/clients/business-school.svg" alt="school logo">
                            </li>
                            <li class="mx-3 mb-5 mb-md-0">
                                <img class="img-fluid img-sm" src="/img/clients/ebay.svg" alt="ebay logo">
                            </li>
                            <li class="mx-3 mb-5 mb-md-0">
                                <img class="img-fluid img-sm" src="/img/clients/northwestern.svg" alt="northwestern logo">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <section id="features" class="about" style="margin-top: 60px !important; background-color: black; padding: 50px 20px;">
            <header class="section-header">
                <h1 style="font-size: 40px; font-weight: 700;" class="text-white mb-4">Powerful AI learning tools, help to find answers.</h1>
                <span style="font-size: 22px;" class="text-white">A best and fast way to get answers of questions with high accuracy with advanced AI learning tools.</span>
            </header>

            <div class="container" style="padding: 0; background-color: transparent;">
                <div class="row text-white">
                    <div class="card-deck mt-4">

                        <div class="card text-center" style="background: none;">
                            <div>
                                <img src="/img/ic_flash.png" class="img-fluid" height="80" width="80">
                            </div>
                            <div class="mt-4">
                                <h2>5X<br>Better & Fast</h2>
                                <p class="mt-4" style="margin: 0; color: rgba(255, 255, 255, 0.8);">sundarEduAI helps you to find answers of questions of given topics/chapters within few seconds. It also increase accessibility for users who want find solutions quickly.</p>
                            </div>
                        </div>

                        <div class="card text-center" style="background: none;">
                            <div>
                                <img src="/img/caption.png" class="img-fluid" height="80" width="80">
                            </div>
                            <div class="mt-4">
                                <h2>High<br>Accuracy</h2>
                                <p class="mt-4" style="margin: 0; color: rgba(255, 255, 255, 0.8);">The observation defines that our service has so far accuracy of around 99% and there is only 1% chance of error or a leniency. Join us, we helps to you scale up.</p>
                            </div>
                        </div>

                        <div class="card text-center" style="background: none;">
                            <div>
                                <img src="/img/cpu.png" class="img-fluid" height="80" width="80">
                            </div>
                            <div class="mt-4">
                                <h4>Advanced<br>AI Models</h4>
                                <p class="mt-4" style="margin: 0; color: rgba(255, 255, 255, 0.8);">The advanced artificial intelligence has been used for get answers very quickly. Empowering teachers & students with an AI sidekick to improve their processes.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section class="about" style="margin-top: 60px !important; padding: 50px 20px;">
            <header class="section-header">
                <h1 style="font-size: 40px; font-weight: 700;" class="text-black mb-4">Get answers in few seconds with our<br>mind-blowing & fast AI learning tools.</h1>
                <span style="font-size: 22px;" class="text-black">You have never get your answers of questions fastly like this before - Automate your workflows with our Advanced AI Learning Tools.</span>
            </header>

            <div class="container mt-4" style="padding: 0; background-color: transparent;">
                <div class="row text-black">
                    <div class="card col-12 mb-3 border-0">
                        <div class="row g-0 justify-content-center align-items-center">
                            <div class="col-md-6">
                                <img src="/img/sundarEduAI-banner-square.jpg" class="img-fluid" alt="" style="border-radius: 25px;">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h1 class="card-title">Generate answers of all<br>your questions Automatically</h1>
                                    <p class="card-text">Do you want get all answers of your questions of your book instantly? Manually get answers of chapter's questions take hours of time, sometimes more longer. Imagine finding answers of all questions of whole book. That
                                        can be really very painful, But now you can get all your answers using sundarEduAI leaning tools. It helps you to find your answers within few seconds. You just have to upload local .txt file, or input text or input
                                        YouTube lecture video and sundarEduAI will helps you to find the answers of all your questions.</p>
                                    <div class="card-body p-0 mt-2">
                                        <a href="/search-questions" class="card-link" style="font-size: 18px; font-weight: bold;">Let's try now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq" style="background-color: transparent; margin-top: 60px !important;">

            <header class="section-header">
                <h1 style="font-size: 40px; font-weight: 700;" class="text-black mb-4">FAQ</h1>
                <span style="font-size: 22px;" class="text-black">Some Asked Questions</span>
            </header>

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">How to use it?</button>
                                </h2>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Upload your local .txt file, or input text, or input YouTube url to sundarEduAI & then search your questions, our advanced AI learning tool automatically find answers of your questions within few seconds.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">Can I upload .txt file?</button>
                                </h2>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Yes, you can! Upload your .txt file to sundarEduAI, then search questions & our api will find answers for you.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">Can I input .txt file which contains questions?</button>
                                </h2>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Yes, you can! Upload your questions contained .txt file to sundarEduAI, then our api will get your questions line by line & find answers for you.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">Can I input YouTube tutorial video?</button>
                                </h2>
                                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        Yes, You can also input YouTube tutorial video instead of .txt file or text. You just have to paste youtube link in input field, then search question related to that tutorial & sundarEduAI will helps you to find answers.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">Which file format supported?</button>
                                </h2>
                                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        Currently sundarEduAI supports only .txt file, but in future we'll come up with .pdf, .xlxs & others file format too.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- End F.A.Q Section -->

    </main>
    <!-- End #main -->



    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer p-4 m-0" style="background-color: transparent;">
        <div class="container text-center">
            <h3 class="mt-3">@sundarEduAI</h3>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <!--===============================================================================================-->
    <script>
    </script>
    <!--===============================================================================================-->

</body>

</html>
